.Layout {
  font-family: 'Work Sans', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  /* width: 100vw; */
}

/* .ContentContainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
