.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 334px;
  height: 456px;
  background: #dbebf9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-top: 6px solid #013364;
}

.form__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

input {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0 20px;
  outline: none;
  color: var(--secondary-color);
  background-color: white;
  font-size: 12px;
  box-sizing: border-box;
}

.subtext {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 40px;
}

.search__button {
  height: 45%;
  align-self: bottom;
}

.labels {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.search_input {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3c3b3b;
  border-radius: 5px;
}

button {
  background: #ad3030;
  border-radius: 5px;
  height: 3.75em;
  border: none;
}

.button_text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fffcfc;
  padding: 0px 10px 0px 10px;
}

/* ERROR */
.errorMessage {
  color: #e13f3f;
  margin: 20px 0;
}
